<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    Hi <%= @enquiry.name %>
    <h1>Welcome to Melbourne Dev Camp and thank you for registering your interest.</h1>
    <p>
      We will be in contact with you very soon with details as they are finalised.
    </p>
    <p>If you have any questions at all about the programme, please do not hesitate to email Danila and Peter at the following addresses:</p>
      <p><a href="mailto:danila@sydneydevcamp.com">danila@sydneydevcamp.com</a></p>
      <p><a href="mailto:peter@sydneydevcamp.com">peter@sydneydevcamp.com</a></p>
    <p>Thanks again for your application and have a great day!</p>
  </body>
</html>