
<%= render 'layouts/carousel' %>
<div class="container marketing">
<div class="row">
        <div class="span4">
          
          <h2><i class="icon-flag icon-3x"></i></h2><h2>Our aim</h2>
          <p>As our student, you will work with and be mentored by the industry's top programmers. We make web development fun and help our graduates get amazing jobs. Ruby is such an awesome language, let's spread the word!</p>
          
        </div><!-- /.span4 -->
        <div class="span4">
          
          <h2><i class="icon-group icon-3x"></i></h2><h2>Community</h2>
          <p>Being a part of the Melbourne Dev Camp family, you will network with fellow coders and aspiring entrepreneurs, meet successful Sydney business men and women and be amongst the burgeoning Sydney tech startup community.</p>
         
        </div><!-- /.span4 -->
        <div class="span4">
          
          <h2><i class="icon-laptop icon-3x"></i></h2><h2>Intense <i>and</i> Fun!</h2>
          <p>This intense and fun, ten week programme will give you the confidence to build your own startup or become a well paid web developer in the Melbourne startup scene.</p>
          <p><%= link_to (programme_path) do %><button class="btn btn-apply">Find out more <i class='icon-circle-arrow-right'></i></button><% end %>
          
        </div><!-- /.span4 -->
        
      </div><!-- /.row -->
      </div>