<% content_for :title, "The Programme - Melbourne Dev Camp - Ruby on Rails web development camp, Australia" %>
<% content_for :description, "At Melbourne Dev Camp, we believe in teaching an holistic approach to becoming a web developer. Not only teaching you how to code - but also to teach you some practices that will help you in your life as a full time web developer. " %>

<br><br><br><br><br><br><br><br>

    
    
    

<div class="container marketing">
<div class="row">
  <center><h1>The Programme</h1></center>
  <div class="span4">
    <h2><i class="icon-leaf icon-3x"></i></h2><h2>Holistic approach</h2>

    <p>At <strong>Melbourne Dev Camp</strong>, we believe in teaching an holistic approach to becoming a web developer. Not only teaching you how to code - but also to teach you some practices that will help you in your life as a full time coder.  Activities such as yoga classes and stretching exercises, relaxation and mind focusing techniques will be introduced and practiced throughout the programme. </p>
    <br />
  </div>

  <div class="span4">
    <h2><i class="icon-desktop icon-3x"></i></h2><h2>The pre-work</h2>
    <p>Every student will be brought up to a common level of knowledge with a 40 hour pre-work homework assignment. This assignment covers a lot of the basics of web development and programming topics in a general sense. These topics will be reviewed and then explored thoroughly in class.</p>
    <br />

  </div><!-- /.span4 -->
  <div class="span4">
    <h2><i class="icon-lightbulb icon-3x"></i></h2><h2>Weeks 1-2</h2>
    <p>The first couple of weeks of the programme will teach you the basic skills of being a confident and well rounded coder. Concepts such as software development tools, basic website building, managing your code and working with other developers will give you a solid grounding for the more advance topics ahead.</p>
    <br />

  </div><!-- /.span4 -->
</div><!-- /.row -->

<div class="row">
  <div class="span4">
    <h2><i class="icon-key icon-3x"></i></h2><h2>Weeks 3-5</h2>
    <p>The next few weeks will see you navigating serious coding topics and getting your feet wet building real world applications from scratch using Ruby, Ruby on Rails and Javascript. Working on your own and in pairs, you will follow project planning principles and deliver code that is useful and that you can be proud of.</p>
    <br />
  </div>
  <div class="span4">
    <h2><i class="icon-tasks icon-3x"></i></h2><h2>Weeks 6-8</h2>
    <p>As your coding skills, knowledge and experience grows, you will begin to explore more advanced Ruby on Rails topics such as deployment, caching, application performance and security. Mobile development will also be introduced and the importance of user interface design.</p>
    <br />
  </div><!-- /.span4 -->
  <div class="span4">
    <h2><i class="icon-signal icon-3x"></i></h2><h2>Weeks 9-10</h2>
    <p>Now the intensity hits a new peak! Working on your own, in pairs and in groups, you will build complex software that brings together all you have learnt over the preceding weeks. Creating your own identity as a professional coder on sites such as GitHub, StackOverflow, CoderWall and LinkedIn. Produce a final project that you can pitch to the class and your friends and family at your graduation ceremony.</p>
    <br />

  </div>

</div>

<div class="row">
  <div class="span4">
    <h2><i class="icon-calendar icon-3x"></i></h2><h2>Ten weeks?</h2>

    <p>Yes! As promised, it will be intense but fun. Even if you have not programmed before, you will be building your own web applications and mobile apps by the end of the programme.</p>
    <p>So if you're an ideas person and wanting to create the next Facebook, or want a change of career and actually build something useful for your community or the world, this programme is for you.</p>
    <br />
  </div><!-- /.span4 -->
  <div class="span4">
    <h2><i class="icon-thumbs-up icon-3x"></i></h2><h2>Confident coders</h2>
    <p>As a graduate of Melbourne Dev Camp, you will not only feel comfortable with Ruby on Rails and developing  web applications, you will also be a confident coder who knows they can take on any programming challenge and succeed.</p>
    <br />
  </div><!-- /.span4 -->
  <div class="span4">
    <h2><i class="icon-trophy icon-3x"></i></h2><h2>Marketable skills</h2>
    <p>During your time as a student of the Melbourne Dev Camp, you will produce a body of work that will show any potential employers your skills, experience and breadth of knowledge. You will have the opportunity to blog about your progress as well as become a contributor to open source software for use by the world wide Ruby on Rails community.</p>
    <br />
    <%= link_to "Register your interest now!", new_enquiry_path, :class => "btn btn-large btn-primary" %>
  </div>
</div>
</div>



