
<div class="enquiry">

  <h1>Register your interest</h1>

  <p>We are busy preparing the Melbourne Dev Camp now.</p><p> Register your interest to be the first to know when details are finalised.</p>

  <%= render 'form' %>

  <%= link_to 'Cancel', root_path %>

</div>
