<footer>
        <p>&copy; 2013 Melbourne Dev Camp &middot; 
          <a href="http://www.sydneydevcamp.com.au/privacy">Privacy Policy</a> &middot; Brought to you by <a href="http://www.sydneydevcamp.com" target="_blank" class="sdc"> <%= image_tag "SDC-logo2.png", :class => 'footer-logo' %> Sydney Dev Camp</a> - Australia's first full time, intensive web development course. </p>
      </footer>